MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=medusa-cat-cafe-frontend

#4PX
FOURPX_BASE_URL=https://open-test.4px.com/router/api/service
FOURPX_APP_KEY=
FOURPX_APP_SECRET=

# Yuntu
YUNTU_APP_ID=
YUNTU_APP_SECRET=
YUNTU_SOURCE_KEY=
YUNTU_BASE_URL=